@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
	font-family: 'Pretendard';
	font-weight: 45 920;
	font-style: normal;
	font-display: swap;
	src: url('@/assets/fonts/Pretendard/PretendardVariable.woff2') format('woff2-variations');
}
@font-face {
	font-family: 'Inter';
	font-weight: 45 920;
	font-style: normal;
	font-display: swap;
	src: url('@/assets/fonts/Inter/InterVariable.woff2') format('woff2-variations');
}

* {
	margin: 0;
	padding: 0;
}

:root,
html,
body {
	box-sizing: border-box;
	background: #ffffff;
}

body {
	font-family: 'Inter', 'Pretendard', sans-serif; /* Inter가 먼저 적용, 한글은 Pretendard로 fallback */
}
