.embl {
	position: relative;
	max-width: 48rem;
	margin: auto;
	position: relative; /* 버튼 배치 기준 */
	--slide-height: 300px;
	--slide-spacing: 1rem;
	--slide-size: 100%;
}
.embl__viewport {
	overflow: hidden;
}
.embl__container {
	display: flex;
	height: 300px;
	touch-action: pan-y pinch-zoom;
	margin-left: calc(var(--slide-spacing) * -1);
}
.embl__slide {
	transform: translate3d(0, 0, 0);
	flex: 0 0 var(--slide-size);
	min-width: 0;
	padding-left: var(--slide-spacing);
}
.embl__slide__img {
	border-radius: 8px;
	display: block;
	height: var(--slide-height);
	width: 100%;
	object-fit: cover;
}
.embl__controls {
	position: absolute;
	top: 50%; /* 세로 중앙 정렬 */
	left: 0;
	right: 0;
	display: flex;
	justify-content: space-between;
	transform: translateY(-50%); /* 정확한 세로 중앙 위치 */
	pointer-events: none; /* 버튼 외부 영역 클릭 방지 */
}
.embl__buttons {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	gap: 200px;
	align-items: center;
	color: #9dc6f5;
}
.embl__button {
	-webkit-tap-highlight-color: rgba(var(--text-high-contrast-rgb-value), 0.5);
	-webkit-appearance: none;
	appearance: none;
	background-color: rgba(157, 157, 157, 0.1); /* 반투명 배경 */
	touch-action: manipulation;
	display: inline-flex;
	text-decoration: none;
	cursor: pointer;
	border: 0;
	padding: 0;
	margin: 0;
	width: 3rem;
	height: 3rem;
	z-index: 10;
	border-radius: 50%;
	color: #9dc6f5;
	display: flex;
	align-items: center;
	justify-content: center;
	pointer-events: all; /* 버튼 클릭 가능하도록 */
}

.embl__button__svg {
	width: 35%;
	height: 35%;
}
.embl__slide__img {
	user-select: none;
}
